{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<div>
  <table class="table table-hover" style="width: 700px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for x in user %}
      <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.ids }}</td>
        <td>{{ x.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}